
.logo-nav{
  display: flex;
  justify-content: center;
}

.logo-header{
  width: 450px;
  height: 400px;
}

@media (max-width: 774px) {
  .custom-logo-nav {
      height: 68px;
    }
  }

@media (max-width: 1010px)  {
  .logo-header{
    width: 462px;
    height: 400px;

  }
}